<div class="container" style="text-align:center">
  <h1>
    Welcome!
  </h1> 

<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">

      <!-- First Step -->
      <li class="completed">
        <a routerLink="/login">
          <span class="circle">Hi!</span>
          <span class="label">Login</span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="active">
        <a routerLink="/register">
          <span class="circle">Go!</span>
          <span class="label">Registration</span>
        </a>
      </li>

      <!-- Third Step -->
      <li class="active">
        <a routerLink="/todo">
          <span class="circle"><i class="fas fa-exclamation"></i></span>
          <span class="label">ToDo</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>
<!-- /.Horizontal Steppers -->

</div>